.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  margin: 0;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body{
  margin-top: 0;
}
.col-lg-7{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 500px;
  padding: 0;
  margin-left: 15%
}
.dogimg{
  border-radius: 50%;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 2px;
}
.display-4{
  font-size: 50px;
}
.name-place{
  font-size: 18px;
  font-weight: 300
}
.rounded-lg-3{
  padding-top: 5px;
  padding-bottom: 0;
}
.display-5{
  font-size: 30px;
  font-weight: 600
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
